{% extends "basetemplate.html" %}

{% block title %}
Category
{% endblock %}


{% block content %}


<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{ categoryName }}</h1>
      </div>
    </div>
  </section>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <a href="{{ url_for('category', id=categoryID, sortColumn='ProductName', sortOrder=sortDict['ProductName'] )  }}">
           Produktnamn</a>
       </th>
        <th scope="col">
          <a href="{{ url_for('category', id=categoryID, sortColumn='UnitPrice', sortOrder=sortDict['UnitPrice']  )  }}">
            Pris</a></th>
        <th scope="col">
          <a href="{{ url_for('category', id=categoryID, sortColumn='UnitsInStock', sortOrder=sortDict['UnitsInStock']  )  }}">
            Antal i lager</a></th>
        <th scope="col"><th>
      </tr>
    </thead>
    <tbody>
      {% for prod in products %}      
      <tr>
        <th scope="row">{{ prod.ProductName }}</th>
        <td>{{ prod.UnitPrice }}</td>
        <td>{{ prod.UnitsInStock }}</td>
        <td>
          <a class="btn btn-primary"  href="{{ url_for('product', id=prod.ProductID  )  }}">View</a>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>      




{% endblock %}


